<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  <style>

    @font-face {
      font-family: "ITMO Muller Regular";
      src: url('../../../../public/bootstrap-3.3.7/fonts/MullerRegular.ttf');
    }
    @font-face {
      font-family: "ITMO Muller Black";
      src: url('../../../../public/bootstrap-3.3.7/fonts/MullerBlack.ttf');
    }
    body {
      font-family: "ITMO Muller Regular";

    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #1D2C4A;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    .header{
      background-color: #1D2C4A;
      height:120px;
      padding: 15px;
    }
    h2{

    }
    h3{
      font-family: ITMO Muller Black;
      margin-left: 30px;
    }
    .content{
      height:100%;
      width: auto;
      padding:15px;
      padding-left:30px;
      padding-bottom: 50px;
    }
    .footer{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height:30px;
      background-color: #1D2C4A;

    }
    .info{
      height:50px;
      width: auto;
    }
    .main_table{
      width: auto;
      height:270px;

    }
    a{

      color: black;
    }
    a:hover{
      color:#1D2C4A;
    }

    i{
      font-size: 25px;
    }



    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  </style>
  <!-- </head> -->
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="<%= url_for :model => :Main,:action => :index %>" onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'" >На&nbspглавную</a>
  <a href="Sport" onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'" >Дисциплины</a>
  <a href="<%= url_for :model => :Main,:action => :person %>"onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'">Персоналии</a>
  <a href="<%= url_for :model => :Main, :action => :getlesson %>"onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'">Запись</a>
  <a href="<%= url_for :model => :Main, :action => :contact %>" onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'">Контакты</a>

  <a href="http://www.ifmo.ru/ru/"><img style="width: 250px; height: 80px;margin-left:-35px;" src="image/slogan_r.png"></a>
</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

</script>
<div class="header">
  <span style="font-size:30px;cursor:pointer;margin:15px;color:white;background-color:#1D2C4A;float:left;" onclick="openNav()">&#9776;</span>
  <h2 style="align:center; font-family: ITMO Muller Black;color: white;font-size: 30px;margin-top: 20px;" >Дисциплины</h2>
</div>


<div class="info">

</div>
<div class="content">


  <% @lessonss = ["Мини-футбол", "Баскетбол", "Флорбол", "Волейбол", "Легкая атлетика", "Бадминтон", "Настольный теннис", "Скалолазание", "Алтимат-фрисби", "Художественная гимнастика", "Большой теннис", "Спортивное ориентирование", "Каратэ", "Спортивный туризм", "Регби-7", "Гиревой спорт", "Бокс", "Дартс", "Бильярд", "Шашки", "Шахматы"]; %>
  <% @opisanie = ["Ми́ни-футбо́л — широко распространённое в русскоязычных странах наименование футза́ла ФИФА — командного вида спорта, одной из разновидностей футбола", "Баскетбо́л — спортивная командная игра с мячом, в которой мяч забрасывают руками в корзину (кольцо) соперника.", "Флорбо́л или хоккей в зале — командный вид спорта из семейства хоккеев. Играется в закрытых помещениях на твёрдом ровном полу пластиковым мячом, удары по которому наносятся специальной клюшкой. Цель игры: забить мяч в ворота соперника.","Волейбо́л — вид спорта, командная спортивная игра, в процессе которой две команды соревнуются на специальной площадке, разделённой сеткой, стремясь направить мяч на сторону соперника таким образом, чтобы он приземлился на площадке противника ", "Лёгкая атле́тика — олимпийский вид спорта, включающий бег, ходьбу, прыжки и метания. Объединяет следующие дисциплины: беговые виды, спортивную ходьбу, технические виды (прыжки и метания), многоборья, пробеги (бег по шоссе) и кроссы (бег по пересечённой местности).", "Бадминтон — вид спорта, в котором игроки располагаются на противоположных сторонах разделённой сеткой площадки и перекидывают волан через сетку ударами ракеток, стремясь приземлить волан на стороне противника и, наоборот, чтобы он не упал на собственное поле.", "Настольный теннис", "Скалолазание", "Алтимат-фрисби", "Художественная гимнастика", "Большой теннис", "Спортивное ориентирование", "Каратэ", "Спортивный туризм", "Регби-7", "Гиревой спорт", "Бокс", "Дартс", "Бильярд", "Шашки", "Шахматы"]; %>
  <% @i=0 %>
  <div class="accordion" id="accordionExample" style="margin-right: 15px;">
    <%while @i< @lessonss.length do %>
      <% @headi = "heading"+@i.to_s %>
      <% @cola = "collapse"+@i.to_s %>
      <% @colat = "#collapse"+@i.to_s %>
      <div class="card">
        <button class=" btn btn-light collapsed " style="padding: 0;margin-bottom: -2px;" data-toggle="collapse"  aria-expanded="false" aria-controls=<%= @cola %> data-target=<%= @colat %>>
          <div class="card-header "   style="margin:0;" id=<%= @headi %>>
            <h4 class="mb-0" style="font-size: large">

              <%= @lessonss[@i] %>

            </h4>
          </div>
        </button>

        <div  style="padding:0px;" class="collapse"  data-parent="#accordionExample" id=<%= @cola %> aria-labelledby=<%= @headi %>>
          <div class="card-body" style="padding: 0px;">
            <div class="card" style="width: 100%;margin: 0px;">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" style="font-size: medium"><%= @opisanie[@i] %> </li>
                <% if @lessonss[@i] == "Флорбол"; %>

                <% end %>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <% @i += 1 %>
    <% end %>

  </div>
</div>

</body>
<div class="footer">

</div>
</html>