<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

    @font-face {
      font-family: "ITMO Muller Regular";
      src: url('../../../../public/bootstrap-3.3.7/fonts/MullerRegular.ttf');
    }
    @font-face {
      font-family: "ITMO Muller Black";
      src: url('../../../../public/bootstrap-3.3.7/fonts/MullerBlack.ttf');
    }
    body {
      font-family: "ITMO Muller Regular";

    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #1D2C4A;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    .header{
      background-color: #1D2C4A;
      height:120px;
      padding: 15px;
    }
    h2{
      font-family: ITMO Muller Black;
      color: white;
    }
    h3{
      font-family: ITMO Muller Black;
      margin-left: 30px;
    }
    .content{
      height:300px;
      width: auto;
      padding:15px;
      padding-left:30px;
    }
    .footer{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 30px;
      background-color: #1D2C4A;
    }
    .info{
      height:50px;
      width: auto;
    }
    .main_table{
      width: auto;
      height:270px;

    }



    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  </style>

</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="<%= url_for :model => :Main, :action => :index %>" onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'" >На&nbspглавную</a>
  <a href="<%= url_for :model => :Sport,:action => :index %>" onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'" >Дисциплины</a>
  <a href="<%= url_for :model => :Main,:action => :person %>"onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'">Персоналии</a>
  <a href="<%= url_for :model => :Main,:action => :getlesson %>"onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'">Расписание</a>
  <a href="<%= url_for :model => :Main,:action => :contact %>" onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'">Контакты</a>

  <a href="http://www.ifmo.ru/ru/"><img style="width: 250px; height: 80px;margin-left:-35px;" src="../image/slogan_r.png"></a>
</div>
<div class="header">
  <span style="font-size:30px;cursor:pointer;margin:15px;color:white;background-color:#1D2C4A;float:left;" onclick="openNav()">&#9776;</span>
  <h2 style="align:center; font-family: ITMO Muller Black;color: white;font-size: 30px;margin-top: 20px;" >ИТМО Физкультура</h2>
</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>
<div class="info">
  <h3 style="font-size: 25px;margin-top: 20px;"> Расписание занятий:</h3>

</div>

</div>
<div class="content">



  <% @name = "heading" %>
  <% @namecol = "collapse" %>
  <% @nametar = "#collapse" %>
  <div class=" accordion" id="ex">
    <% @schedule.each do |lesson| %>
      <% @name = @name+ lesson[:id].to_s %>
      <% @namecol = @namecol+ lesson[:id].to_s %>
      <% @nametar = @nametar+ lesson[:id].to_s %>

      <div class="card accordion bg-light"   style=" max-width: 740px;border-radius: 20px;margin-right: 15px; margin-bottom: 15px;">
        <div style="max-width: 740px;" id=<%= @name %> data-toggle="collapse" data-target=<%= @nametar %> aria-expanded="false" aria-controls=<%= @namecol %>>
          <div class="card-header " style="border-radius: 20px;height: 60px;">


            <div class="col-md-12" style="padding: 10px;padding-left: 5px;">

              <div style="max-width: 200px;">

                <p class="" style="font-family: ITMO Muller Regular;font-weight: bolder;font-size: large;color:white;"><%= lesson[:sport] %></p>
              </div>
            </div>
          </div>






          <div id=<%= @namecol %> class="collapse" aria-labelledby=<%= @name %> data-parent="#ex"  >
            <div class="card-body" >
              <p style="font-size: medium;color:white;">
                Место:&nbsp<%= lesson[:place][:name] %>
              </p>
              <p style="font-size: medium;color:white;">
                Время:&nbsp<%= lesson[:wday] %>&nbsp<%= lesson[:tday] %>
              </p >
              <p style="font-size: medium;color:white;">
                Тренер:&nbsp<%= lesson[:coach][:name] %>&nbsp<%= lesson[:coach][:surname] %>
              </p>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
</body>
<div class="footer">

</div>
</html>
