<div class="container-fluid">

  <div class="row page-title">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <a href="<%= url_for :action => :adminpage %>" class="btn btn-default btn-sm pull-left">Cancel</a>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h3 class="text-center">New User</h3>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
  </div>

  <form method="POST" action="<%= url_for :model => :Main, :action => :createuser %>">

    <div class="form-group">
      <label for="tabnum">tabnum</label>
      <input type="text" id="tabnum" name="tabnum" <%=
        placeholder("tabnum") %> class="form-control" />
    </div>

    <div class="form-group">
      <label for="password">password</label>
      <input type="password" id="password" name="password" <%=
        placeholder("default password") %> class="form-control" />
    </div>

    <div class="form-group">
      <label for="name">name</label>
      <input type="name" id="name" name="name" <%=
        placeholder("name") %> class="form-control" />
    </div>

    <div class="form-group">
      <label for="surname">surname</label>
      <input type="surname" id="surname" name="surname" <%=
        placeholder("surname") %> class="form-control" />
    </div>

    <div class="form-group">
      <label for="email">email</label>
      <input type="email" id="email" name="email" <%=
        placeholder("email") %> class="form-control" />
    </div>

    <div class="form-group">
      <label for="group">group</label>
      <input type="group" id="group" name="group" <%=
        placeholder("group") %> class="form-control" />
    </div>


    <button type="submit" class="btn btn-success btn-block">Create</button>
  </form>

</div>