<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style>

    @font-face {
      font-family: "ITMO Muller Regular";
      src: url('../../../../public/bootstrap-3.3.7/fonts/MullerRegular.ttf');
    }

    @font-face {
      font-family: "ITMO Muller Black";
      src: url('../../../../public/bootstrap-3.3.7/fonts/MullerBlack.ttf');
    }

    body {
      font-family: "ITMO Muller Regular";

    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #1D2C4A;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    .header {
      background-color: #1D2C4A;
      height: 120px;
      padding: 15px;
    }

    h2 {
      font-family: ITMO Muller Black;
      color: white;
    }

    h3 {
      font-family: ITMO Muller Black;
      margin-left: 30px;
    }

    h4 {
      font-size: 18px;
    }

    .content {
      height: 1000px;
      width: auto;
      padding: 15px;
      padding-left: 30px;
    }

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 30px;
      background-color: #1D2C4A;

    }

    .info {
      height: 50px;
      width: auto;
    }

    .main_table {
      width: auto;
      height: 270px;

    }

    a, p {

      color: black;
    }

    a:hover {
      color: #1D2C4A;
    }

    i {
      font-size: 25px;
    }

    .card-title {
      text-align: left;
    }



    @media screen and (max-height: 450px) {
      .sidenav {
        padding-top: 15px;
      }

      .sidenav a {
        font-size: 18px;
      }
    }
  </style>
  <!-- </head> -->
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="<%= url_for :model => :Main, :action => :index %>" onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'" >На&nbspглавную</a>
  <a href="../Sport" onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'" >Дисциплины</a>
  <a href="<%= url_for :model => :Main, :action => :person %>"onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'">Персоналии</a>
  <a href="<%= url_for :model => :Main, :action => :getlesson %>"onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'">Запись</a>
  <a href="<%= url_for :model => :Main, :action => :contact %>" onmouseover="this.style.backgroundColor = 'red'" onmouseout="this.style.backgroundColor ='#1D2C4A'">Контакты</a>

  <a href="http://www.ifmo.ru/ru/"><img style="width: 250px; height: 80px;margin-left:-35px;" src="../image/slogan_r.png"></a>
</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

</script>

<div class="header">
  <span style="font-size:30px;cursor:pointer;margin:15px;color:white;background-color:#1D2C4A;float:left;" onclick="openNav()">&#9776;</span>
  <h2 style="align:center; font-family: ITMO Muller Black;color: white;font-size: 30px;margin-top: 20px;">Персоналии</h2>
</div>


<div class="info">
  <h3 style="font-size: 25px;margin-top: 20px;">Наши преподаватели:</h3>
</div>
<div class="content">
  <% @personss = ["Иванов С.Е.", "Евтеев А.В." , "Богович Д. Н."] %>
  <% @rolee = ["Доцент кафедры программных систем", "Старший преподаватель, Управление по физической культуре и спорту", "Менеджер, Управление по физической культуре и спорту"] %>
  <% @opisaniee = ["•    образование высшее, инженер-математик по специальности прикладная  математика. В 1998 г. окончил дневное отделение СПб ГМТУ, кафедра прикладной математики;
•    1998 - 2007 г. инженер-программист ФГУП “СПКБ”;
•    лауреат Всероссийского конкурса “Инженер года” 2005 г., диплом профессионального инженера России;
•    с 2007 г. по настоящее время доцент Санкт-Петербургского национального исследовательского Университета ИТМО;
•    международные сертификаты: преподавателя Microsoft (MCT), профессионала Microsoft (MCP), эксперта Microsoft Office Expert, Oracle Certification Status Oracle Database 11g Administrator Certified;
•    опубликовано 45 научных работ в области математического моделирования, из них 17 статей опубликованы в ведущих рецензируемых научных журналах и изданиях, определенных ВАК, 17 статей опубликованы в международных изданиях, индексируемых в SCOPUS, Web of Science и имеют международные ссылки.
Индекс Хирша в SCOPUS – 7;
•    автор online курса открытого образования ведущих вузов России “Модели и методы аналитической механики” (2016 г.)", "Кандидат в мастера спорта по армейскому рукопашному бою, увлекаюсь игровыми видами спорта", "Руководитель направления, Студенческий спортивный клуб Кронверкские барсы
 Фотограф, Студенческого спортивный клуб Кронверкские барсы"] %>
  <% @i=0 %>
  <%while @i< @personss.length do %>
    <div class="card accordion" id="accordionExample" style="max-width: 740px;border-radius: 20px;margin-right: 15px; margin-bottom: 20px">

      <% @headi2 = "heading"+@i.to_s %>
      <% @cola2 = "collapse"+@i.to_s %>
      <% @colat2 = "#collapse"+@i.to_s %>
      <div style="max-width: 740px;"  data-toggle="collapse" aria-expanded="false" id=<%= @headi2 %> aria-controls=<%= @cola2 %> data-target=<%= @colat2 %>>
        <div class="card-header bg-light " style="margin-bottom: 0px;border-radius: 20px;min-height: 160px;" id=<%= @headi2 %>>


          <div class="col-md-12" style="padding: 20px;padding-left: 5px;">
            <div class="box" style="padding: 0px;position: absolute;top:0;left:0; " >
              <% if @personss[@i] == "Иванов С.Е."; %>
                <img src="../image/ivanov.jpeg" style="width: 120px;height:142px;border-radius: 20px;">
              <%   elsif @personss[@i] == "Евтеев А.В.";%>
                <img src="../image/eft.jpg" style="width: 120px;height:142px;border-radius: 20px;">
              <%   elsif @personss[@i] == "Богович Д. Н.";%>
                <img src="../image/bogov.jpg" style="width: 120px;height:142px;border-radius: 20px;">

              <% end %>

            </div>
            <div  style="max-width: 200px;margin-left: 140px;">

              <p class="" style="font-family: ITMO Muller Regular;font-weight: bolder;font-size: large;">
                <%= @personss[@i] %>
              </p>
              <p  style="font-size: medium;" >
                <%= @rolee[@i] %>
              </p>

            </div>




          </div>
        </div>
        <div id=<%= @cola2 %> class="collapse" aria-labelledby=<%= @headi2 %> data-parent="#accordionExample">
          <div class="card-body" style="font-size: medium">
            <%= @opisaniee[@i] %>
          </div>
        </div>
      </div>
      <% @i += 1 %>

    </div>
  <% end %>

</div>

</div>

</body>
<div class="footer">

</div>
</html>
